<a href="https://colab.research.google.com/github/rajalakshmigit/pythonpgm/blob/master/Co_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 
#2
y1=int(input("enter current year"))
y2=int(input("enter last year"))
for i in range(y1,y2+1):
   if(i%4==0 and i%100!=0 or i%400==0):
     print(i)
i=i+1

enter current year2000
enter last year2021
2000
2004
2008
2012
2016
2020

In [ ]:
#5
list=[]
for i in range(6):
  x=int(input("enter the nmbr"))
  if x<=100:
     list.append(x)
  else:
     list.append(over)
print(list)

enter the nmbr100
enter the nmbr45
enter the nmbr35
enter the nmbr90
enter the nmbr100
enter the nmbr34
[100, 45, 35, 90, 100, 34]

In [ ]:
#2 a
list=[8,5,-9]
newlist=[x for x in list if x>0]
print(newlist)

[8, 5]

In [ ]:
#2 b
list=[2,4,6]
sqlist=[list**2 for list in list]
print(sqlist)

[4, 16, 36]

In [ ]:
#2 c
w="orange "
vowels="aeiou"
list=[x for x in w if x in vowels]
print(list)

['o', 'a', 'e']

In [ ]:
#2 d
word="flower"
list=[ord(x) for x in word]
print(list)

[102, 108, 111, 119, 101, 114]

In [ ]:
#4
string=input("enter any string:")
c=input("enter te character to the string")
count =0
for i in string:
  if i == c:
    count = count +1
print(c,"occurs",count,"times")

655

In [ ]:
#co1 5
list=[]
for i in range(6):
    x=int(input("enter the number"))
    if x<=100:
       list.append(x)
    else :
       list.append("over")
print(list)

In [ ]:
#6
list=["amma", "b","amma","c" ]
occ=list.count("amma")
print(occ)

In [ ]:
#co1 7
l1=(2,4,6,7,8  )
l2=[6,8,9,0,4,9,9]
print("length of l1",len(l1))
print("length of l2",len(l2))
total=sum(l1)
print("sum of l1",total)
total=sum(l2)
print("sum of l2",total)
l3=[]
for number in l1:
    if number in l2:
        if number not in l3:
            l3.append(number)
print(l3)

In [ ]:
#co1 8
def stringch (str):
   char = str[0]
   str=str.replace(char,'$')
   str=char+str[1:]
   return str
print(stringch("pappaya"))

In [ ]:
co1 9
def stringch(str):
   return str[-1:]+str[1:-1]+str[:1]
print(stringch('a,b,c,d'))

In [ ]:
#co1 10
r=int(input("enter the radius of circles"))
a=3.14*r**2
print("area ",a)

In [ ]:
#co1 11
n1=int(input("enter the number n1:"))
n2=int(input("enter the number n2"))
n3=int(input("enter the number n3:"))
if n1>n2:
    if n1>n3:
        print("the biggest number is ",n1)
    else:
        print("te biggest number is ",n3 )
elif n2>n3:
    print("the biggest number is",n2)
else:
    print("the biggest number is ",n3)

In [ ]:
#co1 12
a=input("enter the file with extension")
x=a.split(".")
print("the file is of " ,x[1], "extension")

In [ ]:
#co1 13
color=input("Enter the list of color names seperated by commas:")
print("First color entered :",color.split(",")[0])
print("Last color entered :",color.split(",")[-1])

In [ ]:
#co1 14
n=int(input("enter a number:"))
temp=str(n)
t1=temp+temp
t2=temp+temp+temp
tem=n+int(t1)+int(t2)
print("the value is:",tem)

In [ ]:
#co1 15
color_list1=set(["black","red","blue"])
color_list2=set(["red","green"])
print(color_list1.difference(color_list2))

In [ ]:
#co1 16
def charchange(a,b):
    new_a=b[:2]+a[2:]
    new_b=a[:2]+b[2:]
    return new_a+' '+new_b
print(charchange('navya','pp') )

In [ ]:
#co1 17
import operator
d={0:8,1:5,2:6,3:9,4:4,5:0}
acs=sorted(d.items(),key=operator.itemgetter(1))
print("ascending order",acs)
ds=sorted(d.items(),key=operator.itemgetter(1),reverse=True)
print("descending order",ds)

In [ ]:
#co1 18
dic1={1:10,2:20,3:30,4:40}
dic2={5:50,6:60,7:70}
dic1.update(dic2)
print("merge",dic1)

In [ ]:
#co1 19
import  math
a=int(input("enter te number1"))
b=int(input("enter the number2"))
gcd=math.gcd(a,b)
print(gcd)

In [ ]:
#co1 20
list1=[2,5,9,8,7,5,3,0,3]
for i in list1:
    if i%2==0:
        list1.remove(i)
print(list1)